body {
    margin: 0;
}

body p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header .top.container, h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #000000;
    color: white;
}

.header .bottom{
    background-image: url(https://www.piano-vfx.com/bg_images/bg6.png);
    background-position: top;
    background-size: cover;
}

.container {
    display: flex;
}

.header.container {
    justify-content: center;
}

/* HEADER SECTION */
.content.container {
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    padding: 20px 30px;
}

.header .content {
    justify-content: space-between;
    width: 1250px;
}

.header .top {
    justify-content: space-between;
    align-items: flex-start;
}

.logo {
    font-size: 20px;
}

.red {
    color: #d10000;
}

.navbar {
    list-style: none;
    margin: 0;
    gap: 20px;
}

.header .bottom {
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    gap: 80px;
}

.header .bottom .left {
    flex-direction: column;
    width: 400px;
}

iframe {
    width: 400px;
    height: 200px;
}

.btn-download {
    width: 150px;
    background-color: #d10000;
    color: white;
    padding: 10px;
    border: 0;
    font-weight: bold;
    border-radius: 7px;
    text-align: center;
}