body {
    margin: 0;
}

body p,
footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header .top.container, h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #000000;
    color: white;
}

.header .bottom{
    background-image: url(https://www.piano-vfx.com/bg_images/bg6.png);
    background-position: top;
    background-size: cover;
}

.container {
    display: flex;
}

.header.container {
    justify-content: center;
}

/* HEADER SECTION */
.content.container {
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    padding: 20px 30px;
}

.header .content {
    justify-content: space-between;
    width: 1250px;
}

.header .top {
    justify-content: space-between;
    align-items: flex-start;
}

.logo {
    font-size: 20px;
}

.logo .red {
    font-weight: bold;
}

.red {
    color: #ff0b0b;
}

.navbar {
    list-style: none;
    margin: 0;
    gap: 20px;
}

.header .bottom {
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    gap: 80px;
}

.header .bottom .left {
    flex-direction: column;
    width: 400px;
}

iframe {
    width: 400px;
    height: 200px;
}

.btn-download {
    width: 150px;
    background-color: #d10000;
    color: white;
    padding: 10px;
    border: 0;
    font-weight: bold;
    border-radius: 7px;
    text-align: center;
}

/* FEATURES SECTION */
.pianovfx {
    background-color: #282A3A;
    color: white;
    justify-content: center;
    padding-top: 120px;
}

.pianovfx .center {
    width: 1250px;
    flex-direction: column;
}

.pianovfx img {
    width: 450px;
    height: auto;
}

.pianovfx .feature {
    gap: 50px;
    margin: 100px 0;
    justify-content: center;
    align-items: center;
}

/* EFFECTS */
.pianovfx .showcase {
    justify-content: center;
    align-items: center;
    width: 600px;
    flex-wrap: wrap;
    gap: 10px;
}

.feature img {
    border: 
}

.feature .effects img {
    width: 250px;
    height: auto;
}

.feature.reverse {
    flex-direction: row-reverse;
}

.feature {
    align-items: center;
}

.feature .leds img,
.feature .customizable img {
    width: 520px;
    height: 300px;
}

/* REQUIREMENTS */
.feature .requirements img {
    width: 100px;
    height: 100px;
}

.feature h1 {
    padding: 0 40px;
}

.requirements {
    flex-wrap: wrap;
}

.requirements.showcase {
    width: 400px;
}

.requirements .spec {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 22px;
}

.feature .description {
    width: 500px;
    font-size: 16px;
    line-height: 30px;
}

.description p {
    padding: 20px;
}

footer {
    background-color: #000000;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: red;
    font-weight: bold;
}